<!DOCTYPE html>
<html>
<head>
  <title>PDF Bills</title>
  <%= wicked_pdf_stylesheet_link_tag    "bill" %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<h2 class="bill_ttl"><span>請求書</span></h2>
	<div class="leftbox">
		<div class="customer_address">
			<div class="customer_postal_code">〒 123-4567</div>
			<div class="customer_address_detail">見滝原市見滝原町10-3</div>
		</div>
		<div class="customer_name"><span>鹿目 まどか　様</span></div>
		<div class="total_price">
			<span>請求額</span><span class="total_price_price">¥<%= h @total_price %></span>
		</div>
	</div>
	<div class="rightbox">
		<div class="logo">QB商事(&#9685;&#8255;&#8255;&#9685;)</div>
		<div class="representative_name">担当者：キュゥべえ</div>
		<div class="address">見滝原市見滝原町9-8</div>
	</div>
	
	<table class="order_detail">
		<tr><th width="370">商品名</th><th width="50">数量</th><th width="50">単価</th><th width="80">金額</th></tr>
		<% @orders.each do |order| %>
			<tr><td class="td_left"><%= h order.item_name %></td><td><%= h order.item_num %></td><td><%= h order.item_price %></td><td><%= h order.item_num * order.item_price %></td></tr>
		<% end %>
		<tr><td>*** 小計 ***</td><td></td><td></td><td><%= h @total_price %></td></tr>
	</table>
</body>
</html>
